.dashboard-product-container {
  display: grid;

}
.transparent-btn {
  background-color: transparent;
  border: 1px solid grey;
  padding: 8px 16px; 
  color:black; 
  transition: background-color 0.3s ease; 
}

.transparent-btn:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}

