/* Orderdetail.scss */

.table-container {
  overflow-x: auto;
}
.table-container::-webkit-scrollbar {
   
}

@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: auto;
    display: block;
  }

  table {
    width: 100%;
  }

  
}
